<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfis de Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

</head>
<body>
    <h1>Perfis de Usuário</h1>
    <div class="corpo">
        {% if profiles %}
        <ul>
            {% for profile in profiles %}
            <li>
                <a href="{{ url_for('profile', profile_id=profile.id) }}">
                    {% if profile.profile_picture %}
                        <img src="{{ url_for('static', filename='perfil.png')}}" alt="{{ profile.name }}" style="width: 50px; height: 50px;">
                    {% else %}
                        <img src="{{ url_for('static', filename='perfil.png') }}" alt="Sem Foto" style="width: 50px; height: 50px;">
                    {% endif %}
                    {{ profile.name }}
                </a>
                <form action="{{ url_for('delete_profile', profile_id=profile.id) }}" method="post" style="display:inline;">
                    <button class="excluir" type="submit" onclick="return confirm('Tem certeza que deseja excluir este perfil?')">Excluir</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum perfil cadastrado.</p>
    {% endif %}
    </div>
    <button><a href="{{ url_for('add_profile') }}">Adicionar Novo Perfil</a></button>
</body>
</html>
