<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de {{ profile.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
</head>
<body>
    <div class="container">
        <h1>Perfil de {{ profile.name }}</h1>
        
        {% if profile.profile_picture %}
            <img src="{{ url_for('static', filename='perfil.png')}}" alt="{{ profile.name }}">
        {% else %}
            <img src="{{ url_for('static', filename='perfil.png')}}" alt="{{ profile.name }}">
        {% endif %}
        
        <p>Nome: {{ profile.name }}</p>
        <p>Email: {{ profile.email }}</p>
        <p>Biografia: {{ profile.bio }}</p>
        
        <a href="{{ url_for('edit_profile', profile_id=profile.id) }}">Editar Perfil</a>
        <a href="{{ url_for('index') }}">Voltar para a Página Inicial</a>
    </div>
</body>
</html>
